<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEON Донецк</title>

<style>

button{
  width: 150px;
  height: 50px;
  background-color: #fff;
  animation: btnan 3s ease-in-out infinite;
}
@keyframes btnan{
  0%{
    background-color: #1ff;
  }
  50%{
    background-color: #f1f;
  }
  100%{
    background-color: #ff1;
  }

}


</style>

<body>
<button class="navbtn">
  Lorem
</button>
<button class="navbtn">
  Lorem
</button>
<button class="navbtn">
  Lorem
</button>
<button class="navbtn">
  Lorem
</button>

</body>

</html>