body{
    background-color: black;

    margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background: rgb(0, 0, 0);
        box-shadow: 0 -200px 100px -120px rgb(0, 11, 46) inset;
   
        color: #ffffff;
}

  
section{
min-height: 500px;
padding: 0% 5%;
}
    h1{
    color: rgb(255, 255, 0);
    margin-top: 35px;
    margin-left: 25px;
    font-size: 64px;
    animation: logo 1.7s ease-in-out infinite;
    margin-bottom: 75px;
letter-spacing: 20%;
  transform: rotate(-10deg);
}

@keyframes logo{
    0%{
        color: rgba(255, 255, 0, 0.87);
        text-shadow: 3px 3px 10px rgba(255,255,0,0.61);
    }
    25%{
        color: rgba(255, 255, 0, 0.747);
        text-shadow: 3px 3px 10px rgba(255,255,0,0.61);
    }
    50%{
        color: rgba(255, 255, 0, 1);
        text-shadow: 3px 3px 10px rgba(255,255,0,0.61);
    }
    75%{
        color: rgba(255, 255, 0, 0.856);
        text-shadow: 3px 3px 10px rgba(255,255,0,0.61);
    }
    100%{
        color: rgba(255, 255, 0, 0.856);
        text-shadow: 3px 3px 10px rgba(255,255,0,0.61);
    }
}




h3{
    padding: 25px;
    text-align: center;
    font-size: 36pt;
}

.example_price{
    color: yellow;
}

.gradient-all {
    padding: auto;
    margin: auto;
    font-size: 2em;
 -webkit-text-fill-color: white;
    display: inline-block;

    width: 100%;
      }

     ul{
        list-style-type: none;
     }

     header{
        min-height: 250px;
     }

     /* Кнопки */

.social{
padding-top: 50px;
justify-self: center;
align-self: center;

}
.telephone{
    padding-top: 50px;
}

footer{
    height: 250px;
}

.carousel-inner img{
    height: 650px;
    width: 120%;
    
}
.buy_btn{
    position: absolute;
    z-index: 1;
    right: 50%;
    color: #ff0000;
    border: 2px #002fff;
    
}
.aside_note_breeds_picture{
height: 300px;
}

.carousel-indicators{
    margin-left: 20%;
}
