html {
    max-width: 100%;
    padding-top: 100px;
}

.all_body_for_bg {
    background: rgba(0, 0, 0, 0.801);
}

body {
    background-image: url("../../public/images/background/bg.jpg");
    margin-top: -10px;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}

.container,
.container-fluid {
    background: rgba(0, 0, 0, 0.678);
}

footer .container-fluid {
    height: 250px;
    padding-top: 5%;
}

section {
    min-height: 300px;
    padding: 0% 0%;
}

h1 {
    opacity: 0;
    color: rgb(255, 255, 0);
    margin-top: 35px;
    margin-left: 25px;
    font-size: 32px;
    animation: logo 1.7s ease-in-out infinite;
    animation-delay: 1000ms;
    margin-bottom: 75px;
    letter-spacing: 20%;
    transform: rotate(-8deg);
    z-index: 10;
}

.blink {
    color: rgb(255, 255, 0);
    margin-top: -110px;
    margin-left: 25px;
    font-size: 32px;
    animation: logo1 2s ease-in-out;
    z-index: 1;
    margin-bottom: 75px;
    letter-spacing: 20%;
    transform: rotate(-8deg);
}

@keyframes logo1 {
    0% {
        opacity: 0.1;
    }

    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.3;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.2;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        opacity: 1;
        color: rgba(255, 255, 0, 0.87);
        text-shadow: 3px 3px 10px rgba(255, 255, 0, 0.61);
    }

    25% {
        opacity: 0.9;
        color: rgba(255, 255, 0, 0.747);
        text-shadow: 3px 3px 10px rgba(255, 255, 0, 0.61);
    }

    50% {
        opacity: 1;
        color: rgba(255, 255, 0, 1);
        text-shadow: 3px 3px 10px rgba(255, 255, 0, 0.61);
    }

    75% {
        opacity: 0.9;
        color: rgba(255, 255, 0, 0.856);
        text-shadow: 3px 3px 10px rgba(255, 255, 0, 0.61);
    }

    100% {
        opacity: 1;
        color: rgba(255, 255, 0, 0.856);
        text-shadow: 3px 3px 10px rgba(255, 255, 0, 0.61);
    }
}


h3 {
    text-align: center;
    font-size: 36pt;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.example_price {
    color: yellow;
    text-align: center;
    font-size: 16pt;
    margin-top: 2%;
}

.gradient-all {
    padding: auto;
    margin: auto;
    font-size: 2em;
    -webkit-text-fill-color: white;
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 100001;
    background: #000;
}

.row {
    --bs-gutter-x: -20rem;
}

.header_row {
    height: 100px;
}

.social {
    text-align: right;
    padding-top: 1.75%;
    animation: socialOn 1.5s ease-out;
}

.header-nav__menu {
    align-self: center;
}

@keyframes socialOn {
    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.3;
    }

    30% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.7;
    }

    90% {
        opacity: 1;

    }
}

.telephone img {
    margin-top: -15px;
}

.telephone {
    padding-top: 50px;
    animation: telOn 1s ease-in-out;
}

.telnumber {
    color: #04ff00;
    font-size: 18pt;
    text-shadow: 20px 10px 109px rgba(4, 255, 0, 0.2);
}

@keyframes telOn {
    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.3;
    }

    30% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.7;
    }

    90% {
        opacity: 1;

    }
}

.carousel-inner img {
    height: 650px;
    width: 100%;
}

.buy_btn {
    position: absolute;
    z-index: 1;
    right: 50%;
    color: #ff0000;
    border: 2px #002fff;
}

.aside_note_breeds_picture {
    height: 300px;
}

.carousel-indicators {
    margin-left: 20%;
}

.section_examples_carousel {
    box-shadow: -10px -9px 100px 30px rgba(119, 0, 255, 0.1);
    margin-bottom: 25px;
}

.order_form_input {
    margin-top: 20px;
    height: 40px;
    width: 50%;
}
.order_form_input, .order_form_textarea{
    border-color: rgb(255, 230, 0);

}
.order_form_input:focus, .order_form_textarea:focus{
    border-color: rgb(255, 230, 0);
    box-shadow: 0px 0px 20px 1px rgb(255, 238, 0);
}

table {
    width: 95%;
    font-size: 18pt;
    font-weight: 600;
    color: #F3EDDB;
}
.price td {
    height: 55px;
    padding-left: 2%;
}
.price_coast {
    text-align: end;
    padding-right: 2%;
}
tr:hover {
    -webkit-box-shadow: 2px 0px 33px 9px #00e1ff;
    -moz-box-shadow: 2px 0px 33px 9px #ff0000;
    box-shadow: 2px 0px 33px 9px #00f7ff inset;
    animation: blinkprice 0.5s ease-in-out;
    color: #15ff00;
}

@keyframes blinkprice {
    25% {
        -webkit-box-shadow: 2px 0px 33px 9px #C276B6;
        -moz-box-shadow: 2px 0px 33px 9px #C276B6;
        box-shadow: 2px 0px 33px 9px #C276B6 inset;
        color: #ffe600;
    }

    50% {
        -webkit-box-shadow: 2px 0px 33px 9px #C276B6;
        -moz-box-shadow: 2px 0px 33px 9px #C276B6;
        box-shadow: 2px 0px 33px 9px #C276B6 inset;
        color: #ffe600af;
    }

    75% {
        -webkit-box-shadow: 2px 0px 33px 9px #C276B6;
        -moz-box-shadow: 2px 0px 33px 9px #C276B6;
        box-shadow: 2px 0px 33px 9px #C276B6 inset;
        color: #15ff00;
    }
}

.ghost_order {
    opacity: 0.1;
    color: white;
}

.ghost_order:hover {
    animation: orderbright 1s ease-in-out infinite;
}

@keyframes orderbright {
    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.7;
    }

    75% {
        opacity: 0.9;
    }
}

body,
ul {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
}

ul li a {
    padding: 20px 0;
    text-decoration: none;
    color: #ccc;
    display: block;
}

ul li:nth-child(2n) a {
    color: #000;
}

video {
    width: 50%;
    height: 300px;
}
.section_callback{
    text-align: center;
}

.carousel {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.carousel-price{
width: 90%;
margin-left: 10%;
}

.carousel img {
    object-fit: cover;
    height: 480px;
}
.order_form_textarea{
    margin-top: 5%;
    height: 100px;
    width: 50%;
    color: #000;

}

.callback_order {
    color: #000;
    margin-bottom: 5%;
}

.TelLink_footer {
    padding-top: 5%;
}

.TelNumLink_footer {
    font-size: 18pt;
}

.social-footer {
    margin-left: 10%;
}

.section_hook_p {
    padding-bottom: 4%;
}

.neon_callback{
    
    width: 100%;
    height: 80%;
    margin-top: 5%;
    border-radius: 25%;
    border: 3px solid #fff;    
    /* box-shadow: 0px 0px 855px 5px #fff inset; */
    animation: blockfooter 0.001s ease-in-out infinite;
}
@keyframes blockfooter{
    10%{
            box-shadow: 10px 0px 855px 1px #ffffff6b inset;
    }
    20%{
            box-shadow: 50px 0px 855px 2px #cf050531 inset;
    }
    30%{
            box-shadow: 50px 0px 855px 3px #000 inset;
    }
    40%{
            box-shadow: 0px 50px 855px 4px #000 ;
    }
    50%{
            box-shadow: 0px 50px 185px 5px #22b33a inset;
    }
    60%{
            box-shadow: 0px 50px 855px 6px #fff ;
    }
    70%{
            box-shadow: 0px 50px 855px 7px #000 ;
    }
    80%{
            box-shadow: 0px 50px 855px 8px #000 inset;
    }
    90%{
            box-shadow: 0px 50px 285px 9px #00ffd5 ;
    }
    100%{
            box-shadow: 0px 0px 855px 10px #fff inset;
    }

}

.section_hook {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 700px;
}

.section_hook_block {
    box-shadow: 0px 0px 85px 5px #9dfff7;
    border-radius: 1.5%;
}

.section_hook_block_video-block {
    text-align: right;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer {
    background-color: #000000;
}
.h2_reviews{
    text-align: center;
    justify-content: center;
    font-size: 48pt;
    font-weight: 700;
    color: yellow;
}
.reviews .carousel img{
    width: 100%;
    height: 800px;
}

.c-container {
    margin: auto;
    width: 93%;
    position: relative;
    z-index: 1;
}

.testimonial p {
	 font-size: 28px;
	 letter-spacing: 0.02em;
	 line-height: 35px;
}
 .testimonial .name {
	 font-weight: bold;
	 font-size: 18px;
	 letter-spacing: 0.04em;
	 line-height: 35px;
	 text-align: left;
}
 .testimonial .designation {
	 font-size: 14px;
	 letter-spacing: 0.04em;
	 text-align: left;
	 color: #fff;
	 opacity: 0.65;
}
 .unt {
	 margin-bottom: 20px;
	 margin-top: 60px;
}
 .hero-text {
	 font-size: 30px;
	 letter-spacing: 0.02em;
	 color: #fff;
}
 .gallery-thumbs {
	 height: 100%;
}
 .gallery-thumbs .swiper-wrapper {
	 align-items: center;
}
 .gallery-thumbs .swiper-slide {
	 background-position: center;
	 background-size: cover;
	 width: 250px !important;
	 height: 330px;
	 position: relative;
}
 .gallery-thumbs .swiper-slide img {
	 filter: contrast(0.5) blur(1px);
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 border-radius: 10px;
}
 .gallery-thumbs .swiper-slide-active img {
	 filter: contrast(1) blur(0px) !important;
}
 .flex-row {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 margin-right: -15px;
	 margin-left: -15px;
}
 .flex-row .flex-col {
	 -ms-flex-preferred-size: 0;
	 flex-basis: 0;
	 -webkit-box-flex: 1;
	 -ms-flex-positive: 1;
	 flex-grow: 1;
	 max-width: 100%;
	 position: relative;
	 width: 100%;
	 min-height: 1px;
	 padding-right: 15px;
	 padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.testimonial-section .quote {
    width: 75%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}
.swiper-container.testimonial {
    height: 70vh;
}
.testimonial-section .user-saying {
    background: rgba(255, 255, 255, 0.26);
    width: 60%;
    color: #ffffff;
    height: 100%;
}
.testi-user-img {
    width: 40%;
}
.testimonial-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.testimonial-section .quote p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    font-style: italic;
    margin: 0;
}
.quote-icon {
    width: 38px;
    display: block;
    margin-bottom: 30px;
}
.modal{
    padding-top: 10%;
    color: #ffffff;
    z-index: 150000;
    background-color: rgba(0, 0, 0, 0.582);
    opacity: 1;
}
.modal-dialog{
box-shadow: 0px 0px 80px 15px rgb(0, 255, 234);
}
.modal-content {
    background-color: #000;
}
.modal-header, .modal-footer {
    border: none;
}

.input_modal, .textarea_modal{
    width: 80%;
    color: #00e1ff;
    font-weight: 700;
}

.input_modal{
text-align: center;
}
.modal-body{
    text-align: center;
}
.modal-footer {
    align-items: center;
}
.textarea_modal{
    margin-bottom: 5%;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 30%;
        margin: 1.75rem auto;
    }
}
.login_page_body{
    width: 60%;
margin-top: 10%;
margin-left: 20%;
    background-color: #000000da;
    color: white;
    border: 2px solid #00e1ff;
}
.login_form{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 35%;
    width: 300px;
    text-align: center;
}
.login_form input{
    width: 100%;
    height: 25px;
    margin-bottom: 3%;
}
.admin_nav{
    margin-top: -100px;
    height: 150px;
    background-color: white;
}
.admin_nav a{
    padding-top: 2%;
    height: 100px;
    width: 100%;
    padding-left: 5%;
    font-weight: 600;
    font-size: 18pt;
}
.admin_edit_block h3{
color: black;
}
.admin_edit_block{
    padding-left: 2%;
    padding-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 700px;    
    margin-top: 2.5%;
    background: #fff;
}
form textarea{
    height: 250px;
    width: 90%;
}
